.page {
	position: absolute;
	top: 25px;
	padding: 20px 0 50px;
	right: 0;
	left: 0;
}

.page-enter {
	opacity: 0;
	transform: scale(1.1);
}

.page-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 300ms, transform 300ms;
}

.page-exit {
	opacity: 1;
	transform: scale(1);
}

.page-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}

.option-enter {
	opacity: 0;
}

.option-enter-active {
	opacity: 1;
	transition: opacity 2s ease;
}

.option-exit {
	opacity: 1;
}

.option-exit-active {
	opacity: 0;
	transition: opacity 2s ease;
}
