.current-city {
  border-bottom: 2px solid grey;
  position: relative;

}

.current-city__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-city svg {
  width: 28px;
  height: 28px;
}

.current-city__item:first-child {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.current-city__item:nth-child(2) {
  font-size: 14px;
  margin: 10px 0 30px 0;
}

.current-city__item:last-child {
  font-size: 14px;
  font-weight: bold;
}

.add-button {
  position: absolute;
  top: 0;
  right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}