.card {
	min-width: 170px;
	padding: 30px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0 20px -1px grey;
	margin: 10px;
	background: #fff;
	transition: 0.4s;
	&__container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	&__header {
		font-size: 20px;
		font-weight: bolder;
	}
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 15px 0;
	}
	&__body--column {
		flex-direction: column;
	}
	&__body--column div {
		display: flex;
		font-size: 14px;
		color: grey;
	}
	&__body svg {
		width: 16px;
		height: 16px;
	}
}

.cities {
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item svg {
		width: 20px;
		height: 20px;
	}
	&__item .card:hover {
		box-shadow: 0 0 10px -1px grey;
		cursor: pointer;
	}
}

.card--window-info {
	background: white;
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	.card__header {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.card__body {
		font-size: 12px;
	}
}
