.current-city {
	& svg {
		width: 28px;
		height: 28px;
	}
	&__list {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include laptops {
			text-align: center;
		}
	}
	&__item:first-child {
		font-size: 24px;
		display: flex;
		align-items: center;
	}
	&__item:nth-child(2) {
		font-size: 14px;
		margin: 10px 0 30px 0;
	}
	&__item:last-child {
		font-size: 14px;
		font-weight: bold;
	}
}
