/* DEFAULT SETTINGS */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	z-index: 0;
}

html,
body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Roboto, sans-serif;
}

textarea:focus,
input:focus,
button:focus {
	outline: none;
}

ul {
	list-style: none;
}

/* INPUTS */

.form__input {
	border: none;
	border-bottom: 1px solid rgb(128, 125, 125);
	padding: 5px 10px;
	transition: 0.4s;
}

.form__input::-webkit-input-placeholder {
	line-height: 20px;
	transition: line-height 0.5s ease;
}
.form__input::-moz-placeholder {
	line-height: 20px;
	transition: line-height 0.5s ease;
}
.form__input:-moz-placeholder {
	line-height: 20px;
	transition: line-height 0.5s ease;
}
.form__input:-ms-input-placeholder {
	line-height: 20px;
	transition: line-height 0.5s ease;
}
.form__input:focus::-webkit-input-placeholder {
	line-height: 100px;
	transition: line-height 0.5s ease;
}
.form__input:focus::-moz-placeholder {
	line-height: 100px;
	transition: line-height 0.5s ease;
}
.form__input:focus:-moz-placeholder {
	line-height: 100px;
	transition: line-height 0.5s ease;
}
.form__input:focus:-ms-input-placeholder {
	line-height: 100px;
	transition: line-height 0.5s ease;
}

/* BUTTONS */

.button {
	padding: 5px;
	background: transparent;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.4s;
	font-weight: bold;
}

.button:hover {
	opacity: 0.9;
}

.button--green {
	background: rgb(77, 138, 77);
	color: white;
}

.button--relative {
	position: relative;
	bottom: 30px;
}

/* TITLE */
.section__title {
	color: grey;
	margin-bottom: 20px;
	/* margin-bottom: 15px; */
}

.section__subtitle {
	color: grey;
	margin: 15px;
}

/* MAIN STYLES */

.main {
	position: relative;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.container {
	position: relative;
	/* height: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 80px;
}
section > .container:first-child {
	padding-top: 100px;
	box-shadow: inset 0 0 10px 0 black;
}

.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.wrapper--row {
	flex-direction: row;
	flex-wrap: wrap;
}

.wrapper--row div {
	margin: 0 10px;
}

/* MAIN CONTENT */

.current-city__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.current-city svg {
	width: 28px;
	height: 28px;
}

.current-city__item:first-child {
	font-size: 24px;
	display: flex;
	align-items: center;
}

.current-city__item:nth-child(2) {
	font-size: 14px;
	margin: 10px 0 30px 0;
}

.current-city__item:last-child {
	font-size: 14px;
	font-weight: bold;
}

/* TABLE  */

.table {
	text-align: left;
	color: grey;
	border-collapse: collapse;
}

.table th {
	border-bottom: 2px solid grey;
	padding: 10px;
}

.table td {
	padding: 10px;
	font-size: 14px;
}

.table td svg {
	width: 14px;
	height: 14px;
}

/* CARDS */

.card__container {
	display: flex;
	justify-content: space-around;
}

.cities__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sities__item svg {
	width: 20px;
	height: 20px;
}

.card {
	padding: 30px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0 20px -1px grey;
	margin: 10px;
	background: #fff;
}

.card--window-info {
	background: white;
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card--window-info .card__header {
	font-size: 12px;
	margin-bottom: 10px;
}
.card--window-info .card__body {
	font-size: 12px;
}

.card__body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0;
}

.card__header {
	font-size: 20px;
	font-weight: bolder;
}

.card__body--column {
	flex-direction: column;
}

.card__body--column div {
	display: flex;
	font-size: 14px;
	color: grey;
}

.card__body svg {
	width: 16px;
	height: 16px;
}

.map__marker {
	width: 20px;
	height: 20px;
}
